<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>超市订单管理系统</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/public.css" />
    <link th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<div th:replace="head::header"></div>
<link type="text/css" rel="stylesheet" href="/static/css/layui.css"/>
<div class="right">
    <div class="location">
        <strong>你现在所在的位置是:</strong>
        <span>发送邮件 >> 发送邮件页面</span>
    </div>
    <div class="providerAdd">
        <form id="proForm" name="proForm" method="post" action="/user/sendEmail"
              enctype="multipart/form-data">
            <input type="hidden" name="method" value="email">
            <div>
                <label for="theme">主题</label>
                <input type="text" id="theme" name="theme" placeholder="theme">
            </div>
            <div >
                <label for="email">邮箱</label>
                <input type="email" id="email" name="email" placeholder="email">
            </div>
            <div>
                <label for="content" style="position: absolute;top: 250px">内容</label>
                <textarea type="text" id="content" name="content" style="margin-left: 215px" placeholder="content"></textarea>
            </div>
            <br>
                <div class="providerAddBtn">
                    <input type="button" name="add" id="add" value="保存" >
                    <input type="button" id="back" name="back" value="返回" >
                </div>
            </form>
    </div>
</section>

<div th:replace="foot::footer"></div>
    <script type="text/javascript" src="/static/js/provideradd.js"></script>
