<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>超市订单管理系统</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/public.css" />
    <link th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<div th:replace="head::header"></div>

<div class="right">
    <div class="location">
        <strong>你现在所在的位置是:</strong>
        <span>供应商管理 >> 供应商添加页面</span>
    </div>
    <div class="providerAdd">
        <form id="proForm" name="proForm" method="post" action="/pro/add_pro"
        enctype="multipart/form-data">
            <input type="hidden" name="method" value="add">
            <!--div的class 为error是验证错误，ok是验证成功-->
            <div>
            <label for="proCode">供应商编码：</label>
            <input type="text" name="proCode" id="proCode" value="">
            <!-- 放置提示信息 -->
            <font color="red"></font>
        </div>
            <div>
                <label for="proName">供应商名称：</label>
                <input type="text" name="proName" id="proName" value="">
                <font color="red"></font>
            </div>
            <div>
                <label for="proContact">联系人：</label>
                <input type="text" name="proContact" id="proContact" value="">
                <font color="red"></font>
            </div>
            <div>
                <label for="proPhone">联系电话：</label>
                <input name="proPhone" id="proPhone"  value="">
            </div>
            <div>
                <label for="proAddress">联系地址：</label>
                <input name="proAddress" id="proAddress"  value="">
            </div>
            <div>
                <label for="proFax">传真：</label>
                <input name="proFax" id="proFax"  value="">
            </div>

            <div class="providerAddBtn">
                <input type="button" name="add" id="add" value="保存" >
                <input type="button" id="back" name="back" value="返回" >
            </div>
        </form>
    </div>
</div>
</section>
<div th:replace="foot::footer"></div>
<script type="text/javascript" src="/static/js/provideradd.js"></script>
